@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');
html, body, a, div, p, strong, b, input, textarea, select, option, h1, h2, h3, h4, h5{
    font-family: 'Poppins', sans-serif !important;
}

html{
    body{
        background: #333;
        color: #eee;
        display: flex;
        justify-content: center;
    }
}
.rotateY{
    transform: rotateY(180deg);
}

.credit-card{
    transform-style: preserve-3d;
    transition: all 0.5s;
    position: inherit;
    width: 368px !important;
    height: 250px !important;
    .front{
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        background: url('../images/cc-front.png') no-repeat center center;
        #numbernull, #number{
            position: relative;
            display: block;
            top: 6em;
            left: 6.6em;
            letter-spacing: 2px;
            color: #bebebe;
        }
        #name{
            small{
                font-size: 0.7em;
                text-transform: lowercase;
                color: rgb(255, 214, 138);
            }
            display: block;
            position: inherit;
            top: 10em;
            text-transform: uppercase;
            left: 4em;
            font-size: 0.9em;
        }
        #validate{
            small{
                font-size: 0.7em;
                text-transform: lowercase;
                color: rgb(255, 214, 138);
            }
            display: block;
            position: inherit;
            top: 10em;
            right: 4.1em;
            font-size: 0.9em;
        }
    }
    .back{
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        background: url('../images/cc-back.png') no-repeat center center;
        #cvv{
            transform: rotateY(180deg);
            position: inherit;
            top: 9.3em;
            right: 3em;
            line-height: 1.2em;
            color: #FFF;
            small{
                color: #ffbb00;
                line-height: 10px;
                font-size: 0.7em;
                text-transform: lowercase;
            }
        }
    }
}

.dados{
    max-width: 368px;
    border-top: 1px dashed #ccc;
    small{
        font-weight: lighter;
        font-size: 0.7em;
        letter-spacing: 1px;
    }
    label{
        font-size: 1em;
    }
}